@using Rookie.CustomerSite.ViewModel
@using Rookie.CustomerSite.ViewModel.Review
@model PagedResponseVM<ReviewVm>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!-- Add icon library -->
<link href="~/productRating/css/productrating.css" rel="stylesheet" />

<div class="heading">
    <h3><strong>User Rating</strong></h3>
</div>
@if (Model.Items.Count() > 0)
{
    <div class="star-rating">
        @for (int i = 1; i <= Model.Items.Average(x => x.Stars); i++)
        {
            <i class="fa fa-star checked"></i>
        }
        @for (int i = 5; i > Model.Items.Average(x => x.Stars); i--)
        {
            <i class="fa fa-star"></i>
        }
    </div>
    <h5>@Model.Items.Average(x => x.Stars) average based on @Model.Items.Count() reviews.</h5>
}
<hr />

<div class="row">
    <div class="side">
        <div>5 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-5"></div>
        </div>
    </div>
    <div class="side right">
        <div>@Model.Items.Count(x => x.Stars == 5)</div>
    </div>
    <div class="side">
        <div>4 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-4"></div>
        </div>
    </div>
    <div class="side right">
        <div>@Model.Items.Count(x => x.Stars == 4)</div>
    </div>
    <div class="side">
        <div>3 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-3"></div>
        </div>
    </div>
    <div class="side right">
        <div>@Model.Items.Count(x => x.Stars == 3)</div>
    </div>
    <div class="side">
        <div>2 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-2"></div>
        </div>
    </div>
    <div class="side right">
        <div>@Model.Items.Count(x => x.Stars == 2)</div>
    </div>
    <div class="side">
        <div>1 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-1" style="width: @Model.Items.Where(x => x.Stars == 1).Count()/@Model.Items.Count()"></div>
        </div>
    </div>
    <div class="side right">
        <div>@Model.Items.Count(x => x.Stars == 1)</div>
    </div>
</div>
<hr />

@if (Model.Items.Count() > 0)
{
        <div class="review-block">
            @foreach (var review in Model.Items)
            {
                <div class="row">
                    <div class="col-lg-3 col-sm-4">
                        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                        @if (review.User != null)
                        {
                            <div class="review-block-name">@review.User.UserName</div>

                        }
                        else
                        {
                            <div class="review-block-name">Guess</div>

                        }
                        <div class="review-block-date">@review.DateUpload.ToString("dd MMMM, yyyy")</div>
                    </div>
                    <div class="col-lg-9 col-sm-8">
                        <div class="review-block-rate">
                            @for (var i = 1; i <= review.Stars; i++)
                            {
                                <i class="fa fa-star checked"></i>
                            }
                            @for (var i = 5; i > review.Stars; i--)
                            {
                                <i class="fa fa-star"></i>
                            }
                        </div>
                        <div class="review-block-description">@review.Content</div>
                    </div>
                </div>
            }
        </div>
    <hr />
}

<div class="review-form">
    <h3><strong>Your Review</strong></h3>
    <form id="rating" method="post" asp-controller="Review" asp-action="ProductReview">
        <div class="star-review">
            <i id="Stars" name="Stars" class="fa fa-star star" data-value="1"></i>
            <i id="Stars" name="Stars" class="fa fa-star star" data-value="2"></i>
            <i id="Stars" name="Stars" class="fa fa-star star" data-value="3"></i>
            <i id="Stars" name="Stars" class="fa fa-star star" data-value="4"></i>
            <i id="Stars" name="Stars" class="fa fa-star star" data-value="5"></i>
        </div>
        <textarea id="Content" name="Content" placeholder="Please enter your review"></textarea>
        <input id="ProductId" name="ProductId" class="disabled" type="hidden" value="@ViewBag.ProductId"/>
        <div class="right">
            <button class="btn btn-success" type="submit">Save</button>
            <button class="btn btn-danger" type="reset">Cancel</button>
        </div>
    </form>
</div>

@{
    var bar5 = (float)@Model.Items.Where(x => x.Stars == 5).Count() / @Model.Items.Count() * 100;
    var bar4 = (float)@Model.Items.Where(x => x.Stars == 4).Count() / @Model.Items.Count() * 100;
    var bar3 = (float)@Model.Items.Where(x => x.Stars == 3).Count() / @Model.Items.Count() * 100;
    var bar2 = (float)@Model.Items.Where(x => x.Stars == 2).Count() / @Model.Items.Count() * 100;
    var bar1 = (float)@Model.Items.Where(x => x.Stars == 1).Count() / @Model.Items.Count() * 100;
}

<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            $(".bar-5").css("width", "@bar5%");
            $(".bar-4").css("width", "@bar4%");
            $(".bar-3").css("width", "@bar3%");
            $(".bar-2").css("width", "@bar2%");
            $(".bar-1").css("width", "@bar1%");
        });
    });
</script>
<script src="~/productRating/js/productRating.js"></script>
