@page
@model Rookie.CustomerSite.Pages.Home.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "RookieShop";
    Layout = "_Layout";
}
<div class="container">
    <!-- /#main-slider-->
    <div id="banner" class="owl-carousel owl-theme">
        @foreach (var item in Model.Banners.Items)
        {
            <div class="item">
                <img src="@item.ImagePath">
            </div>
        }
    </div>
</div>
    <!--
    *** ADVANTAGES HOMEPAGE ***
    _________________________________________________________
    -->
    <div id="advantages">
        <!-- /.container-->
        <div class="container">
            <!-- /.row-->
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                        <div class="icon"><i class="fa fa-heart"></i></div>
                        <h3>We love our customers</h3>
                        <p class="mb-0">We are known to provide best possible service ever</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                        <div class="icon"><i class="fa fa-tags"></i></div>
                        <h3>Best prices</h3>
                        <p class="mb-0">You can check that the height of the boxes adjust when longer text like this one is used in one of them.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                        <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                        <h3>100% satisfaction guaranteed</h3>
                        <p class="mb-0">Free returns on everything for 3 months.</p>
                    </div>
                </div>
            </div>
            <!-- /.row-->
        </div>
        <!-- /.container-->
    </div>
    <!-- /#advantages-->
    <!-- *** ADVANTAGES END ***-->
    <!--
    *** HOT PRODUCT SLIDESHOW ***
    _________________________________________________________
    -->
    <div id="hot">
        <div class="box py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-0"><strong>New Arrivals</strong></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div  class="owl-carousel owl-theme">
                @foreach (var newproduct in Model.Products.Items.OrderBy(x => x.DateUpload).TakeLast(8))
                {
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a asp-area="ProductDetail" asp-page="./Index" asp-route-id="@newproduct.ProductId">
                                            <img src="@newproduct.ImagePath" alt="@newproduct.Name">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a asp-area="ProductDetail" asp-page="./Index" asp-route-id="@newproduct.ProductId">
                                            <img src="@newproduct.ImagePath">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a class="invisible" asp-area="ProductDetail" asp-page="./Index" asp-route-id="@newproduct.ProductId">
                                <img src="@newproduct.ImagePath" alt="@newproduct.Name">
                            </a>
                            <div class="text">
                                <h3>
                                    <a asp-area="ProductDetail" asp-page="./Index" asp-route-id="@newproduct.ProductId">
                                        @newproduct.Name.ToUpper()
                                    </a>
                                </h3>

                                @if (newproduct.SellingPrice < newproduct.ListedPrice)
                                {
                                    <p class="price">
                                        <del>
                                            <text> @String.Format("{0:0,0}", newproduct.ListedPrice) VNĐ </text>
                                            
                                        </del>
                                    </p>
                                }
                                <p class="price-sale">
                                    <text> @String.Format("{0:0,0}", newproduct.SellingPrice) VNĐ </text>
                                </p>
                                <p class="buttons">
                                    <a class="btn btn-outline-secondary" asp-area="ProductDetail" asp-page="./Index" asp-route-id="@newproduct.ProductId">
                                        View detail
                                    </a>
                                    <!--<a asp-action="Cart" asp-route-id="item.ID_Color_Product" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>-->
                                </p>
                            </div>
                            <!-- /.text-->
                            <!-- /.ribbon-->
                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon-->
                            <!-- /.ribbon-->
                            @if (newproduct.SellingPrice < newproduct.ListedPrice)
                            {
                                <div class="ribbon sale">
                                    <div class="theribbon">SALE</div>
                                    <div class="ribbon-background"></div>
                                </div>
                            }
                            <!-- /.ribbon-->
                        </div>
                        <!-- /.product-->
                    </div>
                    <!-- /.products-->
                }
            </div>
            <!-- /.product-slider-->
        </div>
        <!-- /#hot-->
    </div>
    <!--
    *** BESTSALE PRODUCT SLIDESHOW ***
    _________________________________________________________
    -->
    <div id="bestsale">

    </div>
    <!-- /#saleproduct-->
    <!--
    *** SALEPRODUCT PRODUCT SLIDESHOW ***
    _________________________________________________________
    -->
    <div id="saleproduct">

    </div>
    <!-- /#SALEPRODUCT-->
    @section ajax{
        <script>
            $(function () {
                $(document).ready(function () {
                    $("#banner").owlCarousel({
                        autoplay: true,
                        navigation: true,
                        loop: true,
                        items: 1,
                        autoHeight: true,
                    });
                    $("#hot .owl-carousel").owlCarousel({
                        center: true,
                        loop: true,
                        autoplay: true,
                        margin: 15,
                        items: 1,
                        autoHeight: true,
                        responsive: {
                            600: {
                                items: 2
                            },
                            900: {
                                items: 3
                            },
                            1200: {
                                items: 4
                            }
                        }
                    });
                });
            });</script>
    }
